#cfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cfoot ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cfoot ul li {
  display: flex;
}
#cfoot button,
span {
  /* text-align: center; */
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}
